
body{
    display: flex;
    min-height: 100vh;
    background: #3d25aa;
}

.container{
    position: relative;
    width: 99vw;
    height: 90vh;
    top:9vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.title{
    font-size: 35px;
    color: blue;
    margin-bottom: 10px;
    margin-left: 10px;
}

form{
    align-items:flex-start;
    display: flex;
    padding: 10px 10px;
}

.input-field{
    width: 20%;
    height: 30px;
    background: #f0f0f0;
    margin: 10px 10px;
    border: 2px solid blue;
    border-radius: 50px;
    display: flex;
}
.input-field i{
    flex: 1;
    color: #666;
}

.input-field input{
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    margin-left: 10px;
    color: #444444;
}

.input-field select {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    color: #444444;
    appearance: none; 
    padding-left: 10px;
    padding-right: 15px;
}

.btn{
    width: 20%;
    height: 34px;
    border: none;
    border-radius: 50px;
    background: blue;
    color: #fff;
    font-weight: 800;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover{
    background: blue;
}