body {
    background-color: #3d25aa;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

.card-header {
    border-bottom: 2px solid black;
    padding: 10px;
}

.card {
    background-color: azure;
    margin: 10px;
    width: 100%;
    border: 2px solid rgb(58, 55, 55);
    border-radius: 30px;
}

img {
    max-width: 400px;
    height: 400px;
    border-radius: 30px;
    border: 2px solid rgb(54, 52, 52);
}

p {
    margin: 10px;
}

h1 {
    font-size: 20px;
}

h2 {
    margin: 10px;
    font-size: 15px;
}

.icon {
    text-align: center;
}

.card3 {
    margin: 10px;
    margin-bottom: 10px;
    width: 600px;
    height: 380px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: azure;
}

.jumb {
    background-color: transparent;
    padding: 20px;
    margin-top: 0;
}

.icon1 {
    margin: 20px;
}

.icon2 {
    margin: 20px;
}

.card.no-border-bottom .card-header {
    border-bottom: none;
}

.navbar-custom {
    background-color: #3d25aa;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3), 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
}

.navbar-custom .nav-link:hover {
    color: #d1ecf1;
}

@media only screen and (max-width: 768px) {
    .app_descrição {

        width: 90%;
        margin: 20px auto;
    }

    .card {

        width: 80%;
        margin: 20px auto;
    }

    img {

        max-width: 300px;
        height: 300px;
    }
}


@media only screen and (max-width: 480px) {
    .app_descrição {

        width: 95%;
        margin: 10px;
    }

    .card {

        width: 90%;
        margin: 10px;
    }

    img {

        max-width: 200px;
        height: 200px;
    }
}
